<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>パスワード変更画面</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body class="password-change-page">
  <main class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="text-center mb-4">
        </div>

        <div class="alert login-alert" role="alert" id="flashMessage" th:if="${message != null}" th:classappend="${
       messageType == 'success' ? ' alert-success' :
       messageType == 'error'   ? ' alert-danger'  :
       messageType == 'warning' ? ' alert-warning' : ' alert-info'
     }" th:text="${message != null and !#strings.isEmpty(message) ? message : ''}">
        </div>

        <div class="card shadow-sm">
          <div class="card-body p-4">
            <h2 class="h5 mb-3 d-flex justify-content-center">パスワード変更画面</h2>
            <form th:action="@{/users/action/change-password}" method="post">
              <div class="mb-3">
                <label for="currentPassword" class="form-label">現在のパスワード</label>
                <input id="currentPassword" name="currentPassword" type="text" class="form-control">
              </div>

              <div class="mb-3">
                <label for="newPassword" class="form-label">新しいパスワード</label>
                <input id="newPassword" name="newPassword" type="password" class="form-control">
                <div>英字・数字・記号が入力できます。8文字以上で大文字1文字・小文字1文字以上必須</div>
              </div>

              <div class="mb-3">
                <label for="confirmPassword" class="form-label">新しいパスワード(確認用)</label>
                <input id="confirmPassword" name="confirmPassword" type="password" class="form-control">
              </div>

              <button type="submit" class="btn btn-primary w-100" th:disabled="${formDto.canGuest}">変更する</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const alertEl = document.getElementById("flashMessage");
      if (!alertEl) return;
      setTimeout(() => {
        alertEl.style.transition = "opacity .4s";
        alertEl.style.opacity = "0";
        setTimeout(() => alertEl.remove(), 400);
      }, 3000);
    });
  </script>
</body>

</html>